/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: Georgia;
  background: #E0E0E0;
  box-sizing: border-box;
}
.header-top-section .navbar {
    background: #2d2928;
    color: #c4c4c4;
  }
  .header-top-section .navbar ul li {
    line-height: 0px;
    border-right: 1px solid;
    margin: 10px 0px 10px 0px;
}
.header-top-section .navbar ul li:last-child {
  border-right: none;
}
.header-top-section .navbar a {
    color: #c4c4c4;
    font-size: 12px;
}
.header-top-section .navbar a:hover {
    color: #ddd;
}
.header-top-section .navbar i {
    border-radius: 50%;
    border: 1px solid;
    padding: 8px 10px;
    margin-right: 10px;
}
.header-top-section .navbar i:last-child {
    margin: 0px;
}
.header-top-section .navbar i:first-child {
    padding: 8px 12px;
}
.header-logo-section {}
.logo {}
.logo h2 {
  font-size: 100px;
  color: #282828;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 45px;
}
.logo p {
  font-size: 20px;
  color: #acacac;
  margin-bottom: 25px;
}
.header-bottom-section .navbar {
  border-top: 4px double #999999;
  border-bottom: 4px double #999999;
}
.header-bottom-section .navbar ul li {}
.header-bottom-section .navbar a {
  color: #333333;
  text-transform: uppercase;
}
.header-bottom-section .navbar a:hover {
  color: #999999;
}
.dropdown-menu {
    background-color: #E0E0E0;
}
.main-top-section {
  padding: 35px 0px;
  border-bottom: 3px double #999999;
}
.main-top-left {}
.main-top-left img {
    width: 100%;
    height: 425px;
}
.main-top-left h2 {
  margin: 20px 0px;
  color: #444444;
  font-size: 22px;
}
.main-top-left p {
    color: #666666;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.main-top-right {
  overflow: hidden;
  margin-bottom: 10px
}
.mr-left {
    border: 1px solid #999999;
    float: left;
    margin-right: 15px;
}
.mr-left:last-child {
  margin-bottom: 0px;
}
.mll-img {
    border: 1px solid #999999;
    width: 90px;
}
.mr-left img {
    border: 4px solid #e0e0e0;
    width: 100%;
}
.mr-right {
    float: left;
    width: 499px;
}
.mr-right h2 {
  color: #444444;
  font-size: 22px;
}
.mr-right p {
  color: #666666;
  font-size: 16px;
}
.main-bottom-section {
  padding: 35px 0px;
}
.main-left {}
.main-left h2 {
    color: #666666;
    font-size: 16px;
    border-bottom: 1px solid #666666;
    padding-bottom: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.ml-left {
    margin-bottom: 10px;
}
.ml-left:last-child {
  margin-bottom: 0px;
}
.ml-left img {
  border: 4px solid #e0e0e0;
  width: 100%;
}
.mll-content {}
.mll-content h2 {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #444444;
    font-weight: bold;
    text-transform: capitalize;
}
.mll-content p {
    font-size: 13px;
    color: #666666;
    padding: 0;
    margin: 0;
}
.mll-content a {
    float: right;
    color: #982115;
    text-transform: uppercase;
    font-size: 14px;
}
.main-bottom-top {
    border-bottom: 3px double #999999;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.ml-bottom {}
.ml-bottom h2 {
    color: #fff;
    font-size: 12px;
    background: #2d2928;
    padding: 14px 0px;
    text-align: center;
    cursor: pointer;
}
.ml-bottom h2:hover {
  color: #c0c0c0;
}
.ml-bottom h3 {
    font-size: 17px;
    color: #982115;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
}
.mlb-img {
    border: 1px solid #999999;
}
.ml-bottom img {
    border: 4px solid #e0e0e0;
    width: 100%;
    height: 120px;
}
.ml-bottom p {
    font-size: 12px;
    color: #666666;
    margin: 10px 0px;
}
.ml-bottom a {
  color: #982014;
}
.mrb-left {}
.mrb-left h2 {
    font-size: 15px;
    color: #666666;
    font-weight: bold;
    border-top: 5px solid #999999;
    padding-top: 5px;
}
.mrb-left img {
    height: 790px;
    width: 100%;
}
.mtr {
    margin-bottom: 10px;
}
.mtr h2 {
    font-size: 15px;
    color: #666666;
    font-weight: bold;
    border-top: 5px solid #999999;
    padding-top: 5px;
}
.mtr a {
    display: block;
    color: #982216;
}
.footer-top-section {
    border-top: 3px double #999999;
    border-bottom: 3px double #999999;
    padding: 35px 0px;
}
.footer-top-section h2 {
    font-size: 15px;
    color: #666666;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 5px;
}
.footer-top-section a {
    color: #982216;
    display: block;
    font-size: 15px;
    cursor: pointer;
}
.footer-bottom-section {}
.footer-bottom-section p {
    color: #787878;
    padding: 20px 0px 0px 0px;
}
.footer-bottom-section a {
  color: #982216;
}
.ft-right {
  float: right;
}
/*Responsive Design*/
@media screen and (max-width: 1024px){
  .main-top-left img {height: 320px;}
  .mr-right p {font-size: 13px;}
  .main-top-left img {height: 250px;}
  .main-top-left p {font-size: 12px;}
  .mll-content {margin-left: 20px;}
  .mll-content p {font-size: 12px;}
  .mll-content a {font-size: 12px;}
  .ml-bottom h3 {font-size: 15px;}
  .ml-bottom img {height: 85px;}
  .mtr a {font-size: 13px;}
}
@media screen and (max-width: 768px){
  .header-top-section .navbar ul li {border-right: 0px;}
  .mr-left {width: 80px;}
  .main-top-left img {height: 200px;}
  .logo h2 {font-size: 93px;margin-top: 0px;margin-bottom: 0px;}
  .mll-content {margin-left: 35px;}
  .mll-content p {font-size: 10px;}
  .mll-img {width: 85px;height: 85px;}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

